version: '3.8'

networks:
  kommonitor:
    name: kommonitor
    driver: bridge

services:
  kommonitor-proxy:
    image: nginx:latest
    container_name: kommonitor-proxy
    restart: unless-stopped
    ports:
      - 443:443
    volumes:
      - ./templates:/etc/nginx/templates
      - ../certs/cert.pem:/etc/ssl/cert.pem
      - ../certs/key.pem:/etc/ssl/key.pem
    environment:
      - NGINX_PORT=443
      - CLIENT=kommonitor-client:80
      - CLIENT_CONFIG=kommonitor-client-config:8088
      - PROCESSING_ENGINE=kommonitor-processing-engine:8086
      - IMPORTER=kommonitor-importer:8087
      - DATA_MANAGEMENT=kommonitor-data-management:8085
      - SPATIAL_DATA_PROCESSOR=kommonitor-spatial-data-processor:8090
    networks:
      - kommonitor