div.kc-logo-text {
  background-image: url(../img/kommonitor-logo.svg);
  background-repeat: no-repeat;
  height: 125px;
  width: 374px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  div.kc-logo-text {
    margin: 0;
    height: 125px;
    width: 374px;
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .login-pf-page .card-pf {
    max-width: 720px;
    padding: 20px 40px 30px 40px;
  }
}
