version: '3'
      
networks:
  kommonitor:
    name: kommonitor
    driver: bridge

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    # container_name: keycloak
    volumes:
      - ./realms/realm-export_template_localhost.json:/opt/keycloak/data/import/realm-export.json
      - ./themes/kommonitor:/opt/keycloak/themes/kommonitor
    environment:
      DB_VENDOR: h2
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_FRONTEND_URL: http://keycloak:8080/
      PROXY_ADDRESS_FORWARDING: "true"
    command:
      - start-dev
      - --import-realm
    expose:
      - 8080
    ports:
      - 8080:8080